/*start css statistics*/
.statistics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    margin-bottom: 30px;
}

.title{ 
    width: 250px;
    padding: 25px 0px;
    text-transform: uppercase;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 5px 5px 0 0;
    outline: 1px solid lightgray;

}

.statlist{
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    border-radius: 0 0 5px 5px;
    outline: 1px solid lightgray;
}

.statlist li {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.statlist li:nth-child(1){
    background-color: brown;
    border-radius: 0 0 0 5px;
}

.statlist li:nth-child(2){
    background-color: blueviolet;
}

.statlist li:nth-child(3){
    background-color: cadetblue;
}

.statlist li:nth-child(4){
    background-color: chocolate;
}

.statlist li:nth-child(5){
    background-color: tomato;
    border-radius: 0 0 5px 0;
}

.statlist .label{
    color: white;
}

.statlist .percentage{
    color: white;
}
/*end statistics css*/