.transactionhistory{
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
}

.transactionhistory thead{
    background-color: cadetblue;
    text-transform: uppercase;
    color: white;
}

.transactionhistory th, .transactionhistory tbody tr td{
    border: 1px solid #ddd;
    padding: 8px;
    width: 25%;
}

.transactionhistory tr:nth-child(even){
    background-color: lightgray;
}

.transactionhistory tbody{
    text-indent: 40%;
}